{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="text-center">Registration</h1>
<!--
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.firstname.label }}<br>
		{{ form.firstname(size=32) }}<br>
		{% for error in form.firstname.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.lastname.label }}<br>
		{{ form.lastname(size=32) }}<br>
		{% for error in form.lastname.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.username.label }}<br>
		{{ form.username(size=32) }}<br>
		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.admission_number.label }}<br>
		{{ form.admission_number(size=32) }}<br>
		{% for error in form.admission_number.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=32) }}<br>
		{% for error in form.email.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.phone_number.label }}<br>
		{{ form.phone_number(size=32) }}<br>
		{% for error in form.phone_number.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=32) }}<br>
		{% for error in form.password.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password_Rpt.label }}<br>
		{{ form.password_Rpt(size=32) }}<br>
		{% for error in form.password_Rpt.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>

	<p>{{ form.submit() }}</p>
</form>
-->
<div class="container d-flex align-items-center justify-content-center min-vh-100">
	<div class="col-md-6">
		{{ wtf.quick_form(form) }}
	</div>
</div>

{% endblock %}