body {
	font-family: 'Roboto', sans-serif;
	background-color: #a3f5f5;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	padding: 10px;
	margin: 0;
}

.logo-link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}

.logo {
	width: 20%;
	height: auto;
	margin-bottom: 0;
}

h1 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
}

.container {
	width: 300px;
	margin: 100px auto;
	padding: 16px;
	background-color: white;
	border: 1px solid;
	border-radius: 7px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type="text"],
input[type="number"] {
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

input[type="submit"]:hover {
	opacity: 0.8;
}